
.container {
    display: flex;                
    justify-content: space-between;  
    padding: 20px;
  }
  
  .priorityColumn {
    flex: 1;                 
    margin: 0 10px;             
  }
  
  .card {
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: block;                
  }
  
  .priorityHeader {
    display: flex;                  
    align-items: center;            
    justify-content: space-between; 
  }
  
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  .text {
    font-size: 16px;
    color: black;
    /* font-weight: bold; */
  }
  
  .addIcon {
    cursor: pointer;               
    margin-left: 0px;       
  }
  